@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');
*{
    margin:  0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    background-image: url(https://images.unsplash.com/photo-1590272456521-1bbe160a18ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1482&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


ul{
    list-style: none;
    margin: 40px 0 20px 0;
    padding: 10px;
}
li a{
    color: #fff;
    text-decoration: none;
    list-style: none ;
    margin: 40px;
    
}
#inputPrincipal{
    border: 1px solid fff;
    padding: 15px;
    background-color: #fff;
    box-shadow: rgb(235, 243, 235) 0 0 5px 2px;
    border-radius: 10px;
}
.inpt{
    margin: 20px;
    border: 1px solid black;
    background-color: #000;
    border-radius: 50px;
    color: rgb(212, 17, 17);
    padding: 15px;
    outline: none;
    text-transform:uppercase;
}
.btn{
    margin: 20px 0 0 60px;
    padding: 15px 25px;
    border-radius: 10px;
    background-color: rgb(107, 99, 99);
    color: #fff;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Lexend Peta', sans-serif
}
.btn:hover{
    background-color: rgb(192, 38, 38);
    color: rgb(19, 15, 15);
}
h1{
    color: #fff;
    margin: 40px;
    font-family: 'Alata', sans-serif;
}

#resultBook{
    margin:40px 0 30px 0 ;
    width: 25em;
    background-color: rgb(20, 20, 20);
    box-shadow: rgb(34, 33, 33) 0 0 7px 4px;
    border-radius: 10px;
}

#titl{
    margin: 20px 0 5px 50px;
    padding: 7px;
}

p{
    margin: 20px 0 5px 0;
    color: #fff;
    margin-left: 150px;
    padding: 5px;
}

#imgResult{
    margin: -150px 10px 5px 20px;
}
#saibaMais{
    text-decoration: none;
    color: rgb(194, 32, 32);
    margin-left: 100px;
    font-family: 'Quicksand', sans-serif;
    
}
#saibaMais:hover{
    color: rgb(180, 174, 202);
}